@model DatabaseMvcWebApp.ViewModels.RoomViewModel

@{
    ViewBag.Title = "title";
}

<h2>All rooms in database</h2>

<style>
    table, th, td {
        border: 5px solid blueviolet;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
</style>

<style>
    label, input {
        display: block;
    }

    label {
        margin-bottom: 20px;
    }
</style>

<table>
    <tr>
        @foreach (var item in Model.coloumnNames)
        {
            <th>@item</th>
        }
    </tr>
    @{
        int count = 0;
        int columns = Model.coloumnNames.Count;
        int rows = (Model.rooms.Count) / columns;
        for (int i = 0; i < rows; i++)
        {
            <tr>
                @for (int j = 0; j < columns; j++)
                {
                    <td>@Model.rooms[count]</td>
                    count = count + 1;
                }
            </tr>
        }
    }
</table>

<h3>Search by these fields:</h3>

@using (Html.BeginForm())
{
    <label>
        ID
        <input type="text" name="id"/>
    </label>

    <label>
        Size
        <input type="text" name="size"/>
    </label>

    <label>
        Floor
        <input type="text" name="floor"/>
    </label>

    <label>
        Capacity
        <input type="text" name="capacity"/>
    </label>

    <label>
        <input type="submit" />
    </label>
}