@model DatabaseMvcWebApp.ViewModels.RoomViewModel
<!--Update Rooms-->
@{
    ViewBag.Title = "update";
}
    <h2>Update Rooms in Database</h2>

    <style>
        table, th, td {
            border: 3px solid gold;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
        }
    </style>

    <style>
        label, input {
            display: block;
        }

        label {
            margin-bottom: 20px;
        }
    </style>

    <style>
        .on-left {
            float: left;
        }

        .on-right {
            float: right;
            padding: 25px;
            border-radius: 30px;
            border: 2px solid lightsteelblue;
            background-color: honeydew;
        }
    </style>

@*<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquey-1.6.2.js"></script>
<script src ="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@

<div class="on-left">
        <table>
            <tr>
                @foreach (var item in Model.coloumnNames)
                {
                    <th>
                        <h4>
                            <b>@item</b>
                        </h4>
                    </th>
                }
            </tr>
            @{
                int count = 0;
                int columns = Model.coloumnNames.Count;
                int rows = (Model.rooms.Count) / columns;
                for (int i = 0; i < rows; i++)
                {
                    <tr>
                        @for (int j = 0; j < columns; j++)
                        {
                            <td>
                                <h4>@Model.rooms[count]</h4>
                            </td>
                            count = count + 1;
                        }
                    </tr>
                }
            }
        </table>
    </div>
    <div class="on-right">

        @using (Html.BeginForm("UpdateNewRoom", "UpdateRooms", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h3>Search by these fields:</h3>
            <label>
                <b>Update by ID only</b>
                <input type="text" name="id" />
            </label>
            <h3>Enter updated values:</h3>
            <label>
                Size
                <input type="text" name="size" />
            </label>

            <label>
                Floor
                <input type="text" name="floor" />
            </label>

            <label>
                Capacity
                <input type="text" name="capacity" />
            </label>

            <label>
                <input type="submit" value="Filter">
            </label>
        }
    </div>
